@inject IJSRuntime JS
@using System.ComponentModel.DataAnnotations;
@using TaxiBoatBaltic.Components;

<div>
	@if (IsVisible)
	{
		<div class="popup-backdrop" @onclick="OnBackdropClick">
			<div class="popup" @onclick:stopPropagation>
				<div class="popup-header">
					<h2>Book our service here</h2>
					<button class="close-btn" @onclick="Hide">✖</button>
				</div>
				<div class="tour-tabs">
					<button class="tour-tab @(activeTab == 0 ? "active" : "")" @onclick="() => SetTab(0)">Speed Boat Service</button>
					<button class="tour-tab @(activeTab == 1 ? "active" : "")" @onclick="() => SetTab(1)">Private Boat Tour</button>
					<button class="tour-tab @(activeTab == 2 ? "active" : "")" @onclick="() => SetTab(2)">Rent a Boat</button>
					<button class="tour-tab @(activeTab == 3 ? "active" : "")" @onclick="() => SetTab(3)">Rent a Scooter</button>
				</div>
				<EditForm Model="@booking" OnValidSubmit="SubmitBooking" OnInvalidSubmit="OnInvalidSubmit">
					<DataAnnotationsValidator />
					<div class="popup-body">
						<div class="form-section fade-in">
							<label class="form-label">

								@if (activeTab == 0)
								{
									<label class="form-label">Select Transfer:</label>
									<select @bind="booking.SelectedOption" class="form-control">
										<option value="">-- Select Transfer --</option>
										@foreach (var speedboat in Transfers)
										{
											<option value="@speedboat">@speedboat</option>
										}
									</select>
								}
								else if
								(activeTab == 1)
								{
									<label>Select Tour:</label>
									<select @bind="booking.SelectedOption" class="form-control">
										<option value="">-- Select Tour --</option>
										@foreach (var tour in Tours)
										{
											<option value="@tour">@tour</option>
										}
									</select>
								}
								else if (activeTab == 2)
								{
									<label>Select Boat:</label>
									<select @bind="booking.SelectedOption" class="form-control">
										<option value="">-- Select Boat --</option>
										@foreach (var boat in Boats)
										{
											<option value="@boat">@boat</option>
										}
									</select>
								}
								else if (activeTab == 3)
								{
									<label>Select Scooter:</label>
									<select @bind="booking.SelectedOption" class="form-control">
										<option value="">-- Select Scooter --</option>
										@foreach (var scooter in Scooters)
										{
											<option value="@scooter">@scooter</option>
										}
									</select>
								}
								<ValidationMessage For="@(() => booking.SelectedOption)" />
							</label>
						</div>
						<div class="popup-grid">
							<div>
								<label>Full Name</label>
								<input type="text" @bind="booking.FullName" class="form-control" placeholder="John Doe" />
								<ValidationMessage For="@(() => booking.FullName)" />
							</div>
							<div>
								<label>Email</label>
								<input type="email" @bind="booking.Email" class="form-control" placeholder="example@mail.com" />
								<ValidationMessage For="@(() => booking.Email)" />
							</div>
							<div>
								<label>Date</label>
								<input type="date" @bind="booking.Date" class="form-control" min="@DateTime.Now.ToString(" dd-MM-yyyy")" />
								<ValidationMessage For="@(() => booking.Date)" />
							</div>
							<div>
								<label>Departure Time</label>
								<input type="time" @bind="booking.DepartureTime" class="form-control" />
								<ValidationMessage For="@(() => booking.DepartureTime)" />
							</div>
							<div>
								<label>People</label>
								<input type="number" min="1" max="@MaxPeople" @bind="booking.NumberOfPeople" class="form-control" />
								<ValidationMessage For="@(() => booking.NumberOfPeople)" />
							</div>
						</div>

						<div class="notes-section">
							<label>Notes</label>
							<textarea @bind="booking.Notes" class="form-control" placeholder="Add any special requests..."></textarea>
						</div>
					</div>
					<footer class="modal-footer">
						<button class="submit-btn" @onclick="SubmitBooking">Submit</button>
						<div class="toast-massage">
						@if (ShowSuccess)
						{
							<div class="toast-success">
								✅ Booking submitted successfully!
							</div>
						}
						@if (ShowError)
						{
							<div class="toast-error">
								⚠️ Please check the form and try again.
								</div>
						}
						</div>
					</footer>
				</EditForm>
			</div>
		</div>
	}
</div>

@code{
    private BookingModel booking = new();
    private int activeTab = 0;
    private bool IsVisible { get; set; }
    private bool ShowSuccess { get; set; }
    private bool ShowError { get; set; }
    private string SelectedService { get; set; }

    public void Show()
    {
        IsVisible = true;
        StateHasChanged();
    }

    public void Hide()
    {
        IsVisible = false;
        StateHasChanged();
    }

    private void OnBackdropClick()
    {
        Hide();
    }
    private void SetTab(int index)
    {
        activeTab = index;
        switch (index)
        {
            case 0:
                OnServiceChanged("speedboat");
                break;
            case 1:
                OnServiceChanged("tour");
                break;
            case 2:
                OnServiceChanged("boat");
                break;
            case 3:
                OnServiceChanged("scooter");
                break;
        }
    }

    private List<string> CurrentOptions = new();

    private readonly List<string> Transfers = new() {
             "Šibenik → Zlarin",
             "Zlarin → Šibenik",
             "Šibenik → Prvić Luka",
             "Prvić Luka → Šibenik",
             "Šibenik → Prvić Šepurine",
             "Prvić Šepurine → Šibenik",
             "Šibenik → Obonjan",
             "Obonjan → Šibenik",
             "Šibenik → Kaprije",
             "Kaprije → Šibenik",
             "Šibenik → Žirije (Muna)",
             "Žirije (Muna) → Šibenik",
             "Šibenik → AM Adria Resort",
             "AM Adria Resort → Šibenik"
        };
    private readonly List<string> Tours = new() {
             "Rivijera (Half-Day Tour)",
             "Panorma Tour (One hour Tour)",
             "NP Krka Waterfalls (Half-Day Tour)",
             "NP Kornati Tour (All-Day Tour)",
             "Šibenik Archipelago Tour (All-Day Tour)",
             "NP Krka Waterfalls + Rivijera Tour (All-Day Tour)"
        };
    private readonly List<string> Boats = new() {
             "Mia (6.7m, 200HP)",
             "Emanuela (6.5m, 150HP)",
             "Andrea (6.2m, 130HP)"
        };
    private readonly List<string> Scooters = new() {
             "Suzuki Burgman 400 (Gray)",
             "Suzuki Burgman 400 (Black)",
             "Sym Jet 125",
             "Aprilia SR 125",
             "Piaggio Fly 125",
             "Piaggio Typhoon 50",
             "Piaggio Fly 50",
             "Derbi Boulevard 50",
             "Peugeot JetForce 50",
             "Peugeot Speedfight 50",
             "Aprilia SR 50"
        };

    private int MaxPeople { get; set; } = 8;

    private void OnServiceChanged(string selectedService)
    {
        SelectedService = selectedService;
        booking.SelectedOption = string.Empty;
        switch (SelectedService)
        {
            case "speedboat":
                CurrentOptions = Transfers;
                MaxPeople = 8;
                break;
            case "tour":
                CurrentOptions = Tours;
                MaxPeople = 8;
                break;
            case "boat":
                CurrentOptions = Boats;
                MaxPeople = 8;
                break;
            case "scooter":
                CurrentOptions = Scooters;
                MaxPeople = 2;
                break;
            default:
                CurrentOptions = new List<string>();
                MaxPeople = 1;
                break;
        }
    }

    private async Task SubmitBooking()
    {
        // For now, just debug to console
        await JS.InvokeVoidAsync("console.log", new
        {
            SelectedService,
            booking.SelectedOption,
            booking.FullName,
            booking.Email,
            booking.Date,
            booking.DepartureTime,
            booking.NumberOfPeople,
            booking.Notes
        });

        ShowError = false;
        ShowSuccess = true;
    }
    private void OnInvalidSubmit(EditContext context)
    {
        ShowSuccess = false;
        ShowError = true;
    }
}